.git
.gitignore
.github
.venv
.idea
.vscode
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
__pycache__
*.pyc
.env
.env.local
.env.*.local
tests
CHANGELOG.md
docker-compose.yml
Dockerfile
.dockerignore
.editorconfig
